.footer-container {
    display: flex;
    background-color: #feaf87;
    justify-content: space-between;
}

.footer-left{
    padding-left: 2em;
    height: 5em;
}

.footer-right{
    padding-right: 2em;
}