.header-container {
    background: #255D83;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav-link-container {
display: flex;
justify-content: left;
    padding-left: 2em;
}

.navlink{
padding: 0.5em;
}

.social-media-link-container{
    display: flex;
    justify-content: right;
padding-right: 2em;
}

.social-media-link{
padding: 0.5em;
}

.hero-title {
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
    align-items: center;
    color: white;
    background: #255D83;
}

.title-image{
    max-width: 10em;
}
.title-image img{
    max-width: 10em;
    max-height: 10em;
    object-fit: contain;
}