.tag-button-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.tag-button{
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    align-items: center;
}

.tag-button-button{
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-width: 0;
    background-color: transparent;
}

.button-text{
    display: flex;
    justify-content: center;
}
